.admin-create-product {
    max-width: 1500px;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin: 0 auto;
  }
  
  .active-tab {
    font-weight: bold;
  }

  .productform {
    background: transparent;
    padding: 40px 0;
    border-radius: 8px;
  }
  
  .productform .file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    background: #e1eaf4;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .file-name {
    text-align: center;
    font-size: 14px;
    color: #555;
  }

  .productform .file-label {
    background: #009CDE;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 130px;
    margin: 10px auto;
  }
  
  .productform .input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .productform .input-group input,
  .input-group select {
    flex: 1;
    padding: 10px;
    border: none;
    background: #E6EFF5;
    border-radius: 5px;
    height: auto;
    margin: 10px 0;
  }
  
  .productform textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: none;
    background: #E6EFF5;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .productform .submit-button {
    display: flex;
    background: #01589A;
    color: white;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    justify-content: center;

  }
  