.admin-products {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 1500px;
    justify-self: center;
  }
  
  .backbutton {
    display: flex;
    font-size: 19px;
    margin: 50px 0;
    text-align: left;
    justify-self: left;
    align-self: left;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .product-container1 {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #F9FBFC;
    padding: 50px 150px;
    height: 100%;
  }
  .adminheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .admin-tabs {
    display: flex;
    gap: 20px;
  }
  
  .active-tab {
    font-weight: bold;
    color: #003087;
    cursor: pointer;
  }
.adminheader a{
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
    color: #000;
  }
  .non-active-tap {
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .total-products {
    font-size: 16px;
    font-weight: bold;
  }
  
  .admin-product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .Admin-product-card {
    position: relative;
    background: white;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: contain;
    height: auto;
  }
  .Admin-product-card p {
    margin: 0 20px;
    margin-bottom: 10px;
  }
  .Admin-product-card .product-image {
    width: 100%;
    max-width: 250px;
    max-height: 50%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
  }
  
  .Admin-product-card .product-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .Admin-product-card .product-description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: gray;
    margin: 5px 0;
  }
  
  .Admin-product-card .productprice {
    font-size: 18px;
    font-weight: bold;
    color: #01589A;
    padding: 10px auto;
    height: 30px;
  }
  
  .product-footer {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-top: 10px;
  }
  .product-footer .straigthline {
    position: absolute;
    top: -1rem;
    border: 1px solid #e1eaf4;
    width: 100%;
    margin: 5px auto;
  }
  .edit-icon {
    font-size: 14px;
    cursor: pointer;
    color: #01589A;
  }
  
  .product-date {
    font-size: 14px;
    color: gray;
  }
  
  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 10px auto;
    margin-top: 100px;
    margin-bottom: 150px;
  }
  
  .loading-container .loading-gif {
    width: 250px; 
    height: 250px;
  }
  