.features {
    background-color: #0c4a7d;
    color: white;
    padding: 50px 20px;
    text-align: center;
  }
  
  .features-content h2 {
    margin-left: 50px;
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 30px;
  }
  
  .features-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
  }
  
  .feature-item {
    background: transparent;
    text-align: center;
    max-width: 350px;
  }
  
  .feature-icon {
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
  }
  
  .feature-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .feature-item p {
    font-size: 14px;
    line-height: 1.5;
  }
  